*{
    margin: 0;
    padding: 0;
}  
body{
    box-sizing: border-box;

    height: 1vh;
    background-color: black;
}
#game_canvas{
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 0;
    cursor: none;
}